.filters__section {
  width: 300px;
  background: #59c3c3;
}

.filter-list__checkbox {
  height: 120px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #e35050;

  }
}
.filter-list__range {
  height: 120px;

}
